*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  padding: 1em;
  display: flex;
  justify-content: end;
}

.main-menu__mobile {
  --w: 50px;
  --h: 40px;
  width: var(--w);
  height: var(--h);
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.main-menu__icono-mobile,
.main-menu__icono-mobile::before,
.main-menu__icono-mobile::after {
  width: calc(0.8 * var(--w));
  height: calc(0.15 * var(--h));
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-menu__icono-mobile::before,
.main-menu__icono-mobile::after {
  content: "";
  display: block;
  top: -200%;
  left: 0;
  transform: translate(0);
  transform-origin: center;
  transition: .2s;
}

.main-menu__icono-mobile::after {
  top: 200%;
}

.main-menu__icono-mobile.close-menu {
  background-color: transparent;
}

.main-menu__icono-mobile.close-menu::before {
  transform: translate(0, 200%) rotate(45deg);
}

.main-menu__icono-mobile.close-menu::after {
  transform: translate(0, -200%) rotate(-45deg);
}

.menu {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  list-style: none;
  padding-top: 4em;
  transform-origin: top center;
  transform: scale(1, 0);
  transition: .2s;
}

.show-menu {
  transform: scale(1, 1);
  transition: .8s;
}

.menu__link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 2.5;
  text-align: center;
}

.avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 50%;
}

.avatar::before {
  content: "";
  display: block;
  height: 200px;
  width: 200px;
  background-color: rgba(6, 39, 11, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}

.avatar__image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
}