*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  height: 40px;
  background-color: rgb(59, 40, 148);
  align-items: center;
  line-height: 40px;
  padding: .5em;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.menu-icon {
  font-size: 2.2em;
  color: #fff;
}
.title {
  color: white;
  flex-grow: 1;
  text-align: center;
  font-size: 1.6em;
}
.pet-icon {
  color: #fff;
}
.main, .sidebar, .footer {
  padding: .5em;
}
.banner-container {
  margin-top: 40px;
  position: relative;
}
.banner-container::before {
  display: block;
  content: "";
  background-color: rgba(93, 152, 207, 0.15);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
.banner {
  display: block;
  width: 100%;
}
.menu {
  height: calc(100vh - 40px);
  background-color: rgb(59, 40, 148);
  width: 180px;
  position: fixed;
  top: 40px;
  z-index: 1000;
  transition: all ease .7s;
  border-top: solid 1px rgb(53, 18, 148);
  left: -180px;
}
.menu-active {
  left: 0;
  transition: all ease .7s;
}
.menu-list {
  list-style: none;
}
.menu-list__item {
  display: block;
  padding: 0 1em;
  line-height: 2;
}
.menu-list__link {
  color: #fff;  
  text-decoration: none;
}
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  line-height: 1.7;
}
.main-title {
  color: rgb(59, 40, 148);
  margin-bottom: .2em;
}
p {
  margin-bottom: .5em;
}
.sidebar {
  background-color: rgba(234, 243, 251, 0.877);
  margin-bottom: 40px;
}
.footer {
  height: 40px;
  width: 100%;
  background-color: rgb(59, 40, 148);
  color: #fff;
  position: fixed;
  bottom: 0;
}
/* media queries */
@media screen and (min-width: 640px) {
  .container {
    flex-direction: row;
  }
  .main {
    width: 75%;
  }
  .sidebar {
    width: 25%;
  }
}